ion-toolbar {
  ion-title {
    padding-inline: 0;
  }

  ion-segment {
    width: fit-content;

    ion-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
