:root {
  --submit-btn-color: #35bba6;
  --submit-btn-color-shade: #2fa592;
  --submit-btn-color-tint: #49c2af;

  --facebook-color: #4267b2;
  --twitter-color: #1da1f2;
  --reddit-color: #ff4500;
  --whatsapp-color: #128c7e;
}
